* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: azure;
  padding: 15px 20px;
  flex-wrap: wrap;
}

li {
  list-style: none;
  text-decoration: none;
}
#toggle,
label {
  display: none;
}
#toggle:checked ~ .list {
  display: flex;
}
.nav h3 {
  white-space: pre-line;
  font-size: 22px;
  font-family: "poynter-oldstyle-display", sans-serif;
  color: #354463;
}
.donate-btn {
  padding: 1rem;
  width: 100%;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: #c0f6d4;
  padding: 0.5rem 1rem;
}
.climate-change-container {
  background-image: url("../about-us/annie-spratt-427339-unsplash.png");
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #354463;
}

.stop-climate-change {
  white-space: pre-line;
  font-size: 2.5rem;
  font-family: "Flood Std";
  color: white;
}
.container {
  padding: 2rem;
  margin: auto;
}

.climate-change-description {
  margin-top: 6rem;
  background-color: #fff;
  max-width: 600px;
}
.issue-btn {
  background-color: #354463;
  width: 170px;
  padding: 1rem;
  color: #fff;
  margin: auto;
  align-content: center;
  transform: translateY(-50%);
  text-align: center;
  font-family: Helvetica;
}
.climate-change-content-description {
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  text-align: center;
  font-family: Helvetica;
  font-size: 1.7rem;
  text-align: center;
  font-weight: bold;
  color: #354463;
}

.mission-btn {
  height: 50px;
  width: 170px;
  background-color: #fff;
  text-align: center;
  align-content: center;
  color: #354463;
  font-family: Helvetica;
  transform: translateX(5.5rem);
}
.mission-description {
  /* white-space: pre-line; */
  text-align: center;
  font-family: "poynter-oldstyle-display", sans-serif;
  font-weight: bold;
  font-size: 20px;
  transform: translateY(25px);
}
.mission-section {
  background-color: #354463;
  color: #fff;
}

.mission-section-container {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-bottom: 3rem;
}

.mission-section-container h4 {
  padding-bottom: 10px;
}
.mission-section-img {
  height: 3rem;
}
.our-team-section-persons-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.our-team-person-img {
  width: 10rem;
}
.our-team-btn {
  color: #fff;
  background-color: #354463;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: helvetica;
}
.our-team-heading {
  text-align: center;
  color: #354463;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Helvetica;
}
.our-team-description {
  color: #354463;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.our-team-person {
  color: #fff;
  white-space: pre-line;
  background-color: #354463;
  width: 10rem;
  text-align: center;
  transform: translateY(-60%);
  font-size: 1rem;
  padding: 0.5rem;
}
.our-impact-container {
  background-image: url("../about-us/image.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.our-impact-btn {
  color: #354463;
  background-color: #fff;
  width: 50%;
  margin: 2rem 0rem;
  transform: translateX(5rem);
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.our-impact-info {
  padding: 3rem;
}
.our-impact-description {
  font-size: 23px;
  font-family: helvetica;
  color: white;
  white-space: pre-line;
  text-align: center;
  font-weight: bold;
}
.our-impact-num {
  font-family: "Flood Std";
  color: white;
  font-size: 4rem;
  text-align: center;
}
.our-impact-content {
  white-space: pre-line;
  font-size: 22px;
  font-family: helvetica;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3rem;
}


.action-section {
  background-color: #354463;
  padding: 2rem;
}
.action-heading {
  padding-top: 1.8rem;
  font-family: "Flood Std";
  text-align: center;
  color: #fff;
  font-size: 3.5rem;
  
}
.action-card-size{
  margin:auto;
}
.main-card-container {
  overflow: hidden;
}
.card-container {
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.action-year {
  background-color: #fff;
  margin: auto;
  width: 60%;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  transform: translateY(50%);
  font-size: 1rem;
}

.action-title {
  font-size: 1.38rem;
  padding-bottom: 1.5rem;
  white-space: pre-line;
}
.action-section-content {
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
}
.action-card-container {
  font-family: Helvetica;

}

.action-img {
  width: 100%;
}
.action-title-card {
  transform: translateY(-5%);
  background-color: #fff;
  padding: 3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color:#354463;
}

.action-section-content {
  font-size: 1rem;
  line-height: 1.5;
}

.read-more-btn {
  width: 60%;
  background-color: #c0f6d4;
  padding: 1rem;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2rem;
  color:#354463;
  outline: 0;
  border: none;
}



.subscribe-section {
  background-color: #c0f6d4;
}


.subscribe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: Helvetica;
}
.subscribe-heading {
  text-align: start;
  color: #354463;
  font-weight: bold;
  font-size: 1.5rem;
}
.subscribe{
  display: flex;
  justify-content: space-between;
}
.subscribe input {
  border: none;
  border-radius: 55px;
  padding: 1rem;
  font-size: 15px;
width: 60%;
  outline: 0;
}
.subscribe-btn {
  padding: 0.7rem;
  border-radius: 55px;
  background-color: #354463;
font-weight: bold;
  color: #c0f6d4;
  font-family: Helvetica;
  font-size: 1.2rem;
  border: none;
  outline: 0;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
color: #354463;
}
.stop-climate {
  white-space: pre-line;
  font-family: "Flood Std";
  /* grid-area: 3/3; */
  font-size: 3rem;
  color: #354463;
  transform: translateX(9.5rem);
  }
.footer-heading {
  color: #354463;
  font-size: 1.5rem;
  white-space: pre-line;
  transform: translateY(-1.5rem);
}
.list-heading {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.footer-link {
  font-size: 1rem;
  line-height: 1.5;
}
.list-underline {
  text-decoration: underline;
}

@media (max-width: 580px) {
  .list {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    padding: 30px;
    gap: 10px;
  }
  label {
    display: block;
  }
}

@media (min-width: 1025px) {
  .nav {
    gap: 8rem;
  }

  .list {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }
  .donate-btn{
    width: 80%;
    padding: 1rem;
    transform: translateX(3.5rem);
  }
  .climate-change-description-and-issue-btn {
    display: flex;
    justify-content: space-between;
    transform: translateY(6rem);
  }

  .climate-change-content-description {
    text-align: start;
    font-size: 2.2rem;
    height: 350px;
    padding-left: 4.5rem;
  }
  .issue-btn {
    transform: translateX(-9rem) translateY(-1.5rem);
  }

  .container {
    max-width: 1450px;
    margin: auto;
  }

  .stop-climate-change {
    font-size: 4.5rem;
  }

  .mission-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .mission-description {
    padding-top: 20px;
    padding-bottom: 5rem;
    font-size: 2.5rem;
    align-self: start;
    transform: translateY(6rem);
    text-align: start;
  }

  .mission-btn {
    position: relative;
    left: -5.5rem;
    top: 4.66rem;
  }
  .our-team-heading {
    color: #354463;
    font-size: 2.5;
    max-width: 300px;
    text-align: start;
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  .our-team-heading-container {
    display: flex;
    padding-bottom: 2rem;
    
    align-items: center;
  }
  .our-team-person {
    white-space: unset;
    font-size: 1.2rem;
    width: 25rem;
    transform: translateX(10%) translateY(-45%);
    padding: 10px;
  }
  .our-team-person-img {
    width: 25rem;
  }
  .our-team-section-persons-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .our-team-description {
    max-width: 500px;
    text-align: start;
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    transform: translateX(30rem);
  }
  .our-team-btn {
    width: 11%;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
    transform: translateX(-38.5rem);
  }
  .our-impact-container {
    background-position-y:35%;
  }

  .our-impact-btn {
    width: 16%;
    transform: translateX(39rem);
  }
  .our-impact-description {
    font-size: 4rem;
  }
  .our-impact-info {
    display: flex;
    justify-content: space-between;
  }
  .our-impact-num {
    font-size: 6rem;
  }
  .our-impact-content {
    font-size: 30px;
    margin: auto;
  }
/*  action section */



.action-card-size{
padding: 2rem;
max-width: 1450px;
}

.card-container {
  width: 120%;
  gap: 5rem;
}
.action-year {
  transform: translateX(-15%) translateY(80%);
}
.action-container {
  position: relative;
}
.action-title {
  text-align: center;
}
.action-section-content {
  text-align: start;
}
.read-more-btn {
  transform: translateX(-35%) translateY(60%);
}

.action-heading {
  
  text-align: start;
  margin-left: 2rem;
  font-size: 4rem;
   max-width: 60rem;
     white-space: unset;
  }

  .subscribe-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    align-items: center;
    
    
  }
  .subscribe-heading{
    font-size: 2rem;
  
  }
  .subscribe-btn{
    flex-grow: 1;
  width:150px;
  }
  .subscribe input{
flex-grow: 2;
font-size: 1.5rem;
  }
 .subscribe{
  
  gap: 2rem;
  /* justify-content: space-between; */
 }
 .footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}
.footer-container ul{
  font-family: Helvetica;
}

.stop-climate {
  font-size: 4rem;
  transform: translateX(-0.6rem);
}
.list-underline {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
  font-family: Helvetica;
}

}
